@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('navbar.css');
@import url('issue.css');

body {
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  color: #999;
  font-size: 17px;
  font-family: "Montserrat", Arial;
  overflow: hidden;
}

/* === LINKS === */

a {
  color: #8080ff;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;s
}

/* === FLEXBOX WRAPPER FOR EASY CENTERING === */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* === ISSUE GENERATOR BUTTON === */

#issue-button {
  padding: 0 72px;
  height: 60px;
  color: #ffffff;
  border: 0;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease, transform 0.5s ease-in-out;
  transition-timing-function: linear;
  background: linear-gradient(270deg, #f71628, #f7a316, #a2f716, #16f764, #16f7e5, #166af7, #6116f7, #ba16f7, #f716c7);
  background-size: 1000% 1000%;
  animation: gradientSweep 21s infinite;
}

#issue-button.hidden {
  transform: translateY(90vh);
}

@keyframes gradientSweep {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* === ANIMATIONS === */

@keyframes rainbow {
  0% { background: #ff4466; }
  17% { background: #ff9d40; }
  33% { background: #ffff40; }
  50% { background: #17ff40; }
  67% { background: #00c4fa; }
  83% { background: #d041fa; }
  100% { background: #ff4466; }
}

/* === BREAKPOINTS === */

/* Smartphones -- landscape and portrait */
@media only screen and (max-width : 640px) {
  #issue-button {
    padding: 0 32px;
    font-size: 18px;
  }
}
