/* === NAVBAR === */

nav.navigation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 72px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.navigation #logo {
  height: 22px;
  transform: translateY(3px)
}
